:root {
	--grid-gap: 1rem;
}

.img-100w {
	width: 100%;
}

.text {
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: 4rem;
	margin-right: 4rem;
}

.text > h1, h2 {
	margin-top: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: row;
	grid-auto-rows: auto;
	gap: var(--grid-gap);
}

a.cell {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 100%;
	overflow: hidden;
	aspect-ratio:  4 / 3;
}

a.cell:hover {
	text-decoration: none;
}

a.cell > img {
	width: 100%;
	height: 100%;
	/* image-rendering: -webkit-optimize-contrast; */
	grid-row: 1;
	grid-column: 1;
	object-fit: cover;
	object-position: center;
	filter: brightness(80%);
	transform: scale(1);
	transition: transform 1.8s cubic-bezier(0.16, 1, 0.3, 1);
}

a.cell > img:hover {
	transform: scale(1.1);
}

a.cell > div {
	grid-row: 1;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 20;
	padding: 2rem;
	color: white;
	pointer-events: none;
}

a.cell > div > h1, h2 {
	margin: 0;
}

.span2-1 {
	grid-column: span 2;
	aspect-ratio: 4 / 1.5 !important;
}

.span2-2 {
	grid-column: span 2;
	grid-row: span 2;
}

.span3-1 {
	grid-column: span 3;
	aspect-ratio: 4 / 1 !important;
}

.span3-2 {
	grid-column: span 3;
	grid-row: span 2;
	aspect-ratio: 4 / 2 !important;
}

.span3-3 {
	grid-column: span 3;
	grid-row: span 3;
}

.span4-1 {
	grid-column: span 4;
	aspect-ratio: 4 / 0.75 !important;
}

.span4-2 {
	grid-column: span 4;
	grid-row: span 2;
	aspect-ratio: 4 / 1.5 !important;
}

.span4-3 {
	grid-column: span 4;
	grid-row: span 3;
	aspect-ratio: 4 / 2.25 !important;
}

.span4-4 {
	grid-column: span 4;
	grid-row: span 4;
	aspect-ratio: 4 / 3 !important;
}

.aspect-wide-short {
	aspect-ratio: 1 / 0.1875 !important;
}

/* 1 column grid */

.grid-1 {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr;
	gap: var(--grid-gap);
}

/* 2 colum grid */

.grid-2 {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--grid-gap);
}

/* 3 colum grid */

.grid-3 {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--grid-gap);
}

/* 4 column grid */

.grid-4 {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--grid-gap);
}

@media screen and (max-width: 768px) {
	.grid-2 {
		grid-template-columns: 1fr;
	}
	.grid-2 .span2-1,.span2-2 {
		grid-column: span 1;
		grid-row: span 1;
		aspect-ratio: 4 / 3 !important;
	}
	.grid-3 {
		grid-template-columns: 1fr;
	}
	.grid-3 .span2-1,.span2-2,.span3-1,.span3-2,.span3-3 {
		grid-column: span 1;
		grid-row: span 1;
		aspect-ratio: 4 / 3 !important;
	}
	.grid-4 {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-4 .span2-1,.span2-2,.span3-1,.span3-2,.span3-3,.span4-1,.span4-2,.span4-3,.span4-4 {
		grid-column: span 1;
		grid-row: span 1;
		aspect-ratio: 4 / 3 !important;
	}
}

@media screen and (max-width: 640px) {
	.grid-4 {
		grid-template-columns: 1fr;
	}
}