:root {
	--grid-gap: 1rem;
}

a.cell::before {
	grid-column: 1;
	grid-row: 1;
	content: "";
	display: inline-block;
	width: 0.1px;
	height: 0;
	padding-bottom: 75%;
	pointer-events: none;
}

a.cell {
	width: 100%;
	overflow: hidden;
	display: grid;
}

a.cell:hover {
	text-decoration: none;
}

/* image-rendering: -webkit-optimize-contrast; */

a.cell > img {
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: 1;
	image-rendering: -webkit-optimize-contrast;
	object-fit: cover;
	object-position: center;
	filter: brightness(65%);
	transform: scale(1);
	transition: transform 1.8s cubic-bezier(0.16, 1, 0.3, 1);
}

a.cell > img:hover {
	transform: scale(1.1);
}

a.cell > div {
	grid-column: 1;
	grid-row: 1;
	z-index: 20;
	padding: 2rem;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: end;
	pointer-events: none;
}

a.cell > div > h1, h2 {
	margin: 0;
}



/* 2 colum grid */

.grid-2 {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--grid-gap);
	margin-bottom: var(--grid-gap);
}

@media screen and (max-width: 768px) {
	.grid-2 {
		grid-template-columns: repeat(1, 1fr);
	}
}

 /* +-+-+
    | | |
    | +-+
    | | |
    +-+-+ */

.grid-2a {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--grid-gap);
	margin-bottom: var(--grid-gap);
}

.grid-2a > a:nth-child(1) {
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;
}

.grid-2a > a:nth-child(2) {
	grid-column: 2;
	grid-row: 1;
}

.grid-2a > a:nth-child(3) {
	grid-column: 2;
	grid-row: 2;
}

@media screen and (max-width: 768px) {
	.grid-2a {
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-2a > a:nth-child(1) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-2a > a:nth-child(2) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-2a > a:nth-child(3) {
		grid-column: auto;
		grid-row: auto;
	}
}

/* 3 colum grid */

.grid-3 {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--grid-gap);
	margin-bottom: var(--grid-gap);
}

@media screen and (max-width: 768px) {
	.grid-3 {
		grid-template-columns: repeat(1, 1fr);
	}
}

 /* +---+-+
    |   | |
    |   +-+
    |   | |
    +---+-+ */

.grid-3a {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--grid-gap);
	margin-bottom: var(--grid-gap);
}

.grid-3a > a:nth-child(1) {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.grid-3a > a:nth-child(2) {
	grid-column: 3;
	grid-row: 1;
}

.grid-3a > a:nth-child(3) {
	grid-column: 3;
	grid-row: 2;
}

@media screen and (max-width: 768px) {
	.grid-3a {
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-3a > a:nth-child(1) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-3a > a:nth-child(2) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-3a > a:nth-child(3) {
		grid-column: auto;
		grid-row: auto;
	}
}

 /* +---+-+
    |   | |
    +---+-+
    |   | |
    +---+-+ */

.grid-3b {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--grid-gap);
	margin-bottom: var(--grid-gap);
}

.grid-3b > a:nth-child(1) {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
}

.grid-3b > a:nth-child(1)::before {
	padding-bottom: 37.5%
}

.grid-3b > a:nth-child(2) {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
}

.grid-3b > a:nth-child(3) {
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
}

.grid-3b > a:nth-child(3)::before {
	padding-bottom: 37.5%;
}

.grid-3b > a:nth-child(4) {
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
}

@media screen and (max-width: 768px) {
	.grid-3b {
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-3b > a:nth-child(1) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-3b > a:nth-child(1)::before {
		padding-bottom: 75%;
	}
	.grid-3b > a:nth-child(2) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-3b > a:nth-child(3) {
		grid-column: auto;
		grid-row: auto
	}
	.grid-3b > a:nth-child(3)::before {
		padding-bottom: 75%;
	}
	.grid-3b > a:nth-child(4) {
		grid-column: auto;
		grid-row: auto;
	}
}

/* 4 column grid */

.grid-4 {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--grid-gap);
	margin-bottom: var(--grid-gap);
}

@media screen and (max-width: 768px) {
	.grid-4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 320px) {
	.grid-4 {
		grid-template-columns: repeat(1, 1fr);
	}
}

 /* +---+-+-+
    |   | | |
    |   +-+-+
    |   | | |
    +---+-+-+ */

.grid-4a {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--grid-gap);
	margin-bottom: var(--grid-gap);
}

.grid-4a > a:nth-child(1) {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.grid-4a > a:nth-child(2) {
	grid-column: 3;
	grid-row: 1;
}

.grid-4a > a:nth-child(3) {
	grid-column: 4;
	grid-row: 1;
}

.grid-4a > a:nth-child(4) {
	grid-column: 3;
	grid-row: 2;
}

.grid-4a > a:nth-child(4) {
	grid-column: 4;
	grid-row: 2;
}

@media screen and (max-width: 768px) {
	.grid-4a {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-4a > a:nth-child(1) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4a > a:nth-child(2) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4a > a:nth-child(3) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4a > a:nth-child(4) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4a > a:nth-child(5) {
		grid-column: auto;
		grid-row: auto;
	}
}

 /* +---+-+-+
    |   | | |
    +---+-+-+
	|   | | |
	+---+-+-+ */

.grid-4b {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--grid-gap);
	margin-bottom: var(--grid-gap);
}

.grid-4b > a:nth-child(1) {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.grid-4b > a:nth-child(1)::before {
	padding-bottom: 37.5%;
}

.grid-4b > a:nth-child(2) {
	grid-column: 3;
	grid-row: 1;
}

.grid-4b > a:nth-child(3) {
	grid-column: 4;
	grid-row: 1;
}

.grid-4b > a:nth-child(4) {
	grid-column: 1 / span 2;
	grid-row: 2;
}

.grid-4b > a:nth-child(4)::before {
	padding-bottom: 37.5%;
}

.grid-4b > a:nth-child(5) {
	grid-column: 3;
	grid-row: 2;
}

.grid-4b > a:nth-child(6) {
	grid-column: 4;
	grid-row: 2;
}

@media screen and (max-width: 768px) {
	.grid-4b {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-4b > a:nth-child(1) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4b > a:nth-child(2) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4b > a:nth-child(3) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4b > a:nth-child(4) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4b > a:nth-child(5) {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-4b > a:nth-child(6) {
		grid-column: auto;
		grid-row: auto;
	}
}